<ion-header class="header" no-border>
  <ion-navbar mode="ios">
  	<ion-buttons start>
	 <img src="assets/imgs/logo.png" class="logoHeader">
	</ion-buttons>
	<ion-buttons end>
	  <button ion-button color="light"><ion-icon class="btnMenu" name="menu"></ion-icon></button>
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<div class="divHeader">
	  <img src="assets/imgs/cursos-header2.jpg">
	  <div class="desc" text-center>
		  <h5 class="titulo">CURSOS E TREINAMENTOS</h5>
		  <span>Selecione o curso ou treinamento que deseja</span>
	  </div>
	</div>
	<div class="divContainer">
		<div *ngIf="cursos.length==0" text-center padding>Nenhum curso cadastrado</div>
		<ion-list>

		  <ion-item *ngFor="let curso of cursos" text-wrap (click)="verCurso(curso.id)">
		  	<h4>{{curso.titulo}}</h4>
		    <ion-thumbnail item-end>
		      <img src="{{curso.imagem_principal}}">
		    </ion-thumbnail>
		  </ion-item>

		</ion-list>
	</div>

</ion-content>
